 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Operation Thunfisch</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Die Cyberabteilung #3981Z7 Deckname "Flydays for future" operiert unter dem Codenamen "Operation Thunfisch" in einer Steuerungsaktion. Um genaueres zu erfahren müssen Sie Teil einer höheren Sicherheitsebene sein. </p>
                </div>
                <div class="col-lg-4">
                    <p>Der erste Schritt um in eine höhere Sicherheitsebene zu kommen, ist der Telegram Sekte beizutreten und dort über die Klimakühe zu berichten! Klicken Sie auf die Bilder in der Abteilung "Klimakühe" um herauszufinden was es damit auf sich hat!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://t.me/flydaysforfuture" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Telegram Sekte Beitreten!
                    </a>
                </div>
            </div>
        </div>
    </section>
